<h1>Package Booked</h1>
<div>
  You can track your package with tracking id: <%= @package.id %>
</div>
<div>
  <br> <%= link_to "Send Another Package",  package_new_path %><br>
    <%= link_to "Homepage", root_path %>
</div>

