<% if @emails.size > 0 %>
    <% @emails.each do | email | %>
        <li>
          <%= "Email Id: " + email.id.to_s %>
          <%= "City Id: " + email.city_db_id.to_s %>
          <%= "Register Time: " + email.created_at.to_s %>
          <%= "Email Address: " + email.email_value.to_s %>
        </li>
    <% end %>
<% else %>
    No Email Available for this city!
<% end %>