<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Welcome to packagetracker app</h3>
<p>
We have following packages to be delivered.
</p>
<h5> Packages Detail at <%= @current_time.utc  %></h5>
<ul>
  <% @packages.each do |package| %>
      <li> Package Id: <%= package.id %></li>
  <% end %>
</ul>
<p>Thanks for joining and have a great day!</p>
</body>
</html>