<h1>Emails </h1>

<ul>

 <%= render 'shared/email' %>

</ul>

<div>
  <br> <%= link_to "Register Email",  new_email_path %><br>
  <%= link_to "Check Packages or Emails in the City", find_path %><br>
  <%= link_to "Homepage", root_path %>
</div>