<h1>You are registered as Courier Now</h1>
<h3>Current Time: <%= Time.zone.now %></h3>
<div>
  Your registered email address is  <%= @email.email_value %>
</div>
<div>
    <br><%= link_to "Register Another Email",  email_new_path %>
    <br><%= link_to "Homepage", root_path %>
</div>

