<div>
  <h1>Welcome to the Package Tracking App</h1>
  <h2>We are working to make your life easier</h2>
</div>
<div>
  <%= link_to "Send a Package", package_new_path %>
</div>
<div>
  <%= link_to "Register as Courier", email_new_path %>
</div>
<div>
  <%= link_to "Dispatch Packages", dispatch_path %>
</div>