<div>
  <h1>Welcome to the Package Tracking App</h1>
  <h2>We are working to make your life easier</h2>
</div>
<div>
  <%= link_to "Send Package Now", new_package_path %>
</div>
<div>
  <%= link_to "Register as Courier", new_email_path %>
</div>
<div>
  <%= link_to "Check Packages/Emails in the City", find_path %>
</div>